.default-background {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
    height: 100vh;
}

.default-app-background {
  position: fixed;
  background-color: #000000;
  background-image: url("../images/880_535.png");
  background-repeat: no-repeat;
  width: 450px;
  height: 100vh;
  box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.15);
}

.default-app-content {
  width: 450px;
  padding: 12px;
  z-index:1;
}

@media (max-width: 450px) {
  .default-app-background {
    width: 100%;
    box-shadow: none;
  }
}
