body {
  font-family: 'UhBee ZZIBA';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: white;
}

.resulttitle {
  margin-top: 50px;
  font-family: 'UhBee MiMi';
  font-size: 28px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(125, 125, 255), 0 0 5px rgb(200, 133, 255);
}
.guestans {
  line-height: 50px;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;
}

.ans {
  line-height: 50px;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;
  margin-bottom: 50px;
}

.sumpoint {
  font-size: 24px;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;
}

.leaderboard {
  font-size: 26px;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;
}

table, th, td {
  border: 3px dotted white;
  text-align: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.05);
}

.share {
  font-size: 26px;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;
}

img:hover {
  opacity: 0.7;
}

.fb {
  margin-right: 20px;
}

.metoo {
  text-align: center;
  font-size: 18px;
  background: linear-gradient(21deg, #d710ff5b, #82b8ff7e);
  border: 0px solid #ffffff;
  border-radius: 13px;
  width: 180px;
  height: 40px;
  line-height: 0px;
  margin-top: 30px;
  margin-bottom: 70px;
}

a {
  font-family: 'UhBee ZZIBA';
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;

}

a:hover {
  color: rgba(255, 218, 246, 0.726);
}
