body {
  
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 60px;
  text-align: center;

  color: #ffffff;
  text-shadow: -1px -1px 30px #B4FFFF, 3px 3px 50px rgba(255, 255, 255, 0.5);
}
h1 {
  font-family: 'UhBee ZZIBA';
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 10px;
  line-height: 70px;
}

.welcome1 {
  margin-top: 0px;
  font-size: 44px;
}

.welcome2 {
  margin-top: 30px;
  font-family: 'UhBee BEOJJI';
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: -1px -1px 30px #B4FFFF, 3px 3px 50px rgba(255, 255, 255, 0.5);
}

.startbutton {
  text-align: center;
  background-color: rgba(185, 136, 223, 0.3);
  border: 0px solid #ffffff;
  border-radius: 13px;
  width: 180px;
  height: 40px;
  line-height: 0px;
  margin-top: 30px;
}

a {
  font-family: 'UhBee ZZIBA';
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-shadow: 0px 4px 20px #D6C7FF, 0px 4px 20px #BFC9FF;

}

a:hover {
  color: rgba(206, 168, 255, 0.459);
}
