{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/_default.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'css/font.css' %}" />
    <meta property="og:title" content="★우정퀴즈★">
    <meta property="og:description" content="우정퀴즈를 출제하고, 풀어보세요!">
    <meta property="og:image" content="{% static 'images/head-image.png' %}">
    <title>★우정퀴즈★</title>
  </head>
  <div class="default-background">
    <div class="default-app-background"></div>
    <div class="default-app-content">
      {% block content %} {% endblock %}
    </div>
  </div>
</html>
