{% extends 'quiz/_default.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/page/generatePage.css' %}" />
<body>
  <div class="main">퀴즈를 만드는 페이지</div>
  <form action="{% url 'generate' %}" method="post">
    {% csrf_token %}
    <div class="quizhost">{{quiz_set_form.as_p}}</div>
    <div>{{ quiz_form_set.management_form }}</div>
    {% if messages %}
      {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% for quiz_form in quiz_form_set %}
    <div class="makequiz">
      <hr />
      <div class="quiznumb">{{ forloop.counter }}번 문제</div>
      <div class="answer">{{quiz_form.as_p}}</div>
    </div>
    {% endfor %}
    <div class="submitquiz">
      <input type="submit" value="출제" />
    </div>
  </form>
</body>
{% endblock %}
