{% extends 'quiz/_default.html' %} 
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/page/resultPage.css' %}" />
  <body>
    <div class="resulttitle">{{quiz_set_id}}번 퀴즈에 대한<br>{{guest}}님의 답안 결과 페이지</div><br>
    <div class="sumpoint">맞은 문제 점수 : {{points}}/7</div><br>
    <img src="{% static "images/plough.png" %}">
    

    <div class="share">SNS 공유</div>
    <img class="fb" src="{% static "images/facebook.png" %}">
    <img class="insta" src="{% static "images/instagram.png" %}"><br>
    <img class="katalk" src="{% static "images/kakaotalk.png" %}">
    <img class="twit" src="{% static "images/twitter.png" %}"><br>
    <button class="metoo">
      <a href={% url 'generate' %}>나도 퀴즈 출제하기
      </a>
    </button>

    <div class="leaderboard">명예의 전당</div>
    <table align="center">
      <tr>
        <th>이름</th>
        <th>점수</th>
      </tr>
      {% for result_set in result_sets.all %}
      <tr>
        <td>{{result_set.guest}}</td>
        <td>{{result_set.points}}/7</td>
      </tr>
      {% endfor %}
    </table><br>
  </body>
{% endblock %}
